= form_tag(simple_cart.cart_items_path(product.id), method: 'post') do
  = hidden_field_tag "class", product.class.to_s.downcase
  = number_field_tag(:quantity, 1, min: 1, class: 'form-control')
  = button_tag(t('cart.add'), class: 'btn btn-primary')
